
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.mat-select-content{
  width:2000px !important;
  background-color: red !important;
  font-size: 10px !important;
} 