services:
  cli:
    container_name: cli
    build:
      context: ../../..
      dockerfile: ./cluster/integration-tests/cli/client/Dockerfile
    environment:
      - TEST_ID=${TEST_ID}
      - NSTRUMENTA_API_KEY=${NSTRUMENTA_API_KEY}
      - IMAGE_REPOSITORY=${IMAGE_REPOSITORY}
      - IMAGE_VERSION_TAG=${IMAGE_VERSION_TAG}
