services:
  nodejs-client:
    container_name: nodejs-client
    build:
      context: ../../..
      dockerfile: ./cluster/integration-tests/nodejs-client/client/Dockerfile
    environment:
      - TEST_ID=${TEST_ID}
      - NSTRUMENTA_API_KEY=${NSTRUMENTA_API_KEY}
      - NSTRUMENTA_WS_URL=ws://agent:8088
      - NSTRUMENTA_WAIT_ON=http://agent:8088
    networks:
      - cluster_default
  agent:
    container_name: agent
    build:
      context: ../../..
      dockerfile: ./cluster/agent/Dockerfile
    environment:
      - TEST_ID=${TEST_ID}
      - NSTRUMENTA_API_KEY=${NSTRUMENTA_API_KEY}
    networks:
      - cluster_default

networks:
  cluster_default:
    external: true
