
<video #previewVideo controls></video>

<form>
  <mat-form-field style="min-width:300px">
    <mat-label>Remote URL</mat-label>
    <input matInput [(ngModel)]="forwardToWebsocketUrl" name="forwardToWebsocketUrl">
  </mat-form-field>
  <mat-form-field style="min-width:300px">
    <mat-label>Channel</mat-label>
    <input matInput [(ngModel)]="forwardToWebsocketChannel" name="forwardToWebsocketChannel">
  </mat-form-field>
  <button mat-flat-button [matTooltip]="forwardButtonText" (click)="toggleForwardToWebsocket()">
    <mat-icon>cloud_upload</mat-icon> {{forwardButtonText}}
  </button>
</form>

<form style="margin-top: 8px;">
  <button mat-flat-button [matTooltip]="recordButtonText" (click)="toggleRecord()">
    <mat-icon>fiber_manual_record</mat-icon> {{recordButtonText}}
  </button>
</form>

<mat-list>
  @for (stat of eventStats | keyvalue; track stat.key) {
    <mat-list-item>
      sensor id {{stat.key}}: {{stat.value.timestamp - stat.value.previousTimestamp}}ms
    </mat-list-item>
    <mat-list dense>
      @for (value of stat.value.values; track $index) {
        <mat-list-item>
          {{value}}
        </mat-list-item>
      }
    </mat-list>
  }
</mat-list>

<div style="flex-direction:row">
  @if (selection.hasValue()) {
    {{selection.selected.length}} inputs selected:
    <button mat-icon-button matTooltip="Delete Selected" (click)="deleteSelected()">
      <mat-icon>delete</mat-icon>
    </button>
  }
</div>


<mat-table #table [dataSource]="dataSource" matSort class="animate">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let recordSource"> {{recordSource.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
    <mat-cell *matCellDef="let recordSource"> {{recordSource.type}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['select', 'name', 'type']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['select', 'name', 'type'];" class="animate"></mat-row>
</mat-table>

