**/node_modules
*.tar.gz
**/dist
!frontend/dist
**/temp
**/.angular
.git
.nst

# Credentials and secrets
credentials/
**/credentials/*.env
**/credentials/*.json

# Merged from cluster/.dockerignore
**/cache
**/.firebase
