<!DOCTYPE html>
<html>
  <body style="margin: 0px">
    <iframe 
    style="width: 100%; height: 99vh;"
    allow="geolocation; gyroscope; accelerometer; magnetometer; microphone; camera; midi; encrypted-media"
    id="sandboxFrame" src=<%- src %> name="sandboxFrame" frameBorder="0"></iframe>
  </body>

  <script src="host.js"></script>
  
</html>