<div class="main-container" [class.is-handset]="isHandset$">
  <mat-sidenav-container class="main-sandbox-container" [attr.autosize]="(isHandset$ | async) === false" flex>
    <mat-sidenav #drawer class="sidenav" [attr.fixedInViewport]="isHandset$ | async"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
      <app-navbar-title></app-navbar-title>
      <mat-nav-list>
        @if (router.url.startsWith('/projects/')) {
          <a mat-menu-item [routerLink]="['record']" queryParamsHandling="preserve">
            <mat-icon>fiber_manual_record</mat-icon> Record
          </a>
          <a mat-menu-item [routerLink]="['data']" queryParamsHandling="preserve">
            <mat-icon>storage</mat-icon> Data
          </a>
          <a mat-menu-item [routerLink]="['repositories']" queryParamsHandling="preserve">
            <mat-icon>code</mat-icon> Repositories
          </a>
          <a mat-menu-item [routerLink]="['modules']" queryParamsHandling="preserve">
            <mat-icon>category</mat-icon> Modules
          </a>
          <a mat-menu-item [routerLink]="['agents']" queryParamsHandling="preserve">
            <mat-icon>developer_board</mat-icon> Agents
          </a>
          <a mat-menu-item [routerLink]="['actions']" queryParamsHandling="preserve">
            <mat-icon>list</mat-icon> Action Log
          </a>
          <a mat-menu-item [routerLink]="['machines']" queryParamsHandling="preserve">
            <mat-icon>cloud</mat-icon> Machines
          </a>
          <a mat-menu-item [routerLink]="['settings']" queryParamsHandling="preserve">
            <mat-icon>settings</mat-icon>Settings
          </a>
        }
        <span class="fill-remaining-space"></span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content layout>
      <app-toolbar (drawerToggleClick)="drawer.toggle()"></app-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>