:host {
  display: block;
  height: 100%;
}

.main-container {
  height: 100%;
  display: flex;
}

.main-sandbox-container {
  flex: 1;
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-sidenav-content {
  overflow-y: auto;
}

.active-nav-item {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}
