<div style="flex-direction:row">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <ng-container *ngIf="selection.hasValue()">
    {{selection.selected.length}} files selected:
    <button mat-icon-button matTooltip="Delete Selected" (click)="deleteSelected()">
      <mat-icon color="accent">delete</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Download Selected" (click)="downloadSelected()">
      <mat-icon color="accent">cloud_download</mat-icon>
    </button>
  </ng-container>
</div>

<mat-table #table [dataSource]="dataSource" matSort matSortActive="lastModified" matSortDirection="desc"
  class="animate">

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
    <mat-cell *matCellDef="let fileDocument">
      <a *ngIf="fileDocument.commit" href={{fileDocument.commit?.url}}>
        <small>{{ fileDocument.key }}</small>
      </a>
      <small *ngIf="!fileDocument.commit">{{ fileDocument.key }}</small>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="committer">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Committed by </mat-header-cell>
    <mat-cell *matCellDef="let fileDocument"> {{ fileDocument.commit?.committer.username }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="message">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
    <mat-cell *matCellDef="let fileDocument"> {{ fileDocument.commit?.message }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="response">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Build Log </mat-header-cell>
    <mat-cell *matCellDef="let fileDocument"> {{ fileDocument.error }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastModified">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Modified </mat-header-cell>
    <mat-cell *matCellDef="let fileDocument"> {{ fileDocument.lastModified | date : 'medium'}} </mat-cell>
  </ng-container>



  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
</mat-table>