<h2 mat-dialog-title>Creating Key</h2>
<div *ngIf="!key" style="padding: 16px; display: flex;">
  <mat-spinner strokeWidth="3" [diameter]="22"></mat-spinner>
</div>
<div *ngIf="key" style="padding: 16px; display: flex;">
  <mat-dialog-content class="mat-typography">
    <h3>
      This key is your secret key and will only displayed once.
      Copy this now and save it for accessing the API.
    </h3>
    <div>
      <small>{{key}}</small>
      <button mat-button [cdkCopyToClipboard]="key">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </mat-dialog-content>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button [mat-dialog-close]="response" cdkFocusInitial>Add</button>
</div>