@if (authService.currentUser()) {
  <div>
    <mat-menu #projectSelectMenu="matMenu">
      @for (project of userProjects(); track project.id || project.key || $index) {
        <a mat-menu-item [routerLink]="'/' + project.orgSlug + '/' + project.slug + '/overview'" queryParamsHandling="preserve">
          {{ project.name }}
        </a>
      }
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="projectSelectMenu">
      {{ projectSettings()?.name || currentProjectId() || 'Select Project' }}
    </button>
  </div>
}
