<div style="flex-direction:row">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <ng-container *ngIf="selection.hasValue()">
    {{selection.selected.length}} agents selected:
  </ng-container>
</div>

<mat-table #table [dataSource]="dataSource" matSort matSortActive="createdAt" matSortDirection="desc" class="animate">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
    <mat-cell *matCellDef="let fileDocument">
      <a mat-button [routerLink]="fileDocument.id">
        {{ fileDocument.id }}
      </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tag">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Tag </mat-header-cell>
    <mat-cell *matCellDef="let fileDocument"> {{ fileDocument.tag }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
    <mat-cell *matCellDef="let fileDocument"> {{ fileDocument.status }} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
    <mat-cell *matCellDef="let fileDocument"> {{ fileDocument.createdAt | date : 'medium'}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
</mat-table>
