services:
  browser-client:
    container_name: browser-client
    build:
      context: ../..
      dockerfile: ./integration-tests/browser-client/client/Dockerfile
    environment:
      - TEST_ID=${TEST_ID}
      - NSTRUMENTA_API_KEY=${NSTRUMENTA_API_KEY}
      - NSTRUMENTA_WS_URL=ws://agent:8088
      - WAIT_ON_URL=http://agent:8088
    networks:
      - nstrumenta_default
  agent:
    container_name: agent
    build:
      context: ../..
      dockerfile: ./agent/Dockerfile
    environment:
      - TEST_ID=${TEST_ID}
      - NSTRUMENTA_API_KEY=${NSTRUMENTA_API_KEY}
    networks:
      - nstrumenta_default
  server:
    container_name: nstrumenta-server
    build:
      context: ../../server
      dockerfile: Dockerfile
    environment:
      - GCLOUD_SERVICE_KEY=${GCLOUD_SERVICE_KEY}
      - NSTRUMENTA_API_KEY_PEPPER=${NSTRUMENTA_API_KEY_PEPPER}
      - CI=${CI}
      - TEST_ID=${TEST_ID}
      - NSTRUMENTA_CLOUD_RUN_MODE=${NSTRUMENTA_CLOUD_RUN_MODE}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - nstrumenta_default

networks:
  nstrumenta_default:
    external: true
