version: 2.1
jobs:
  build:
    docker:
      - image: nstrumenta/base:latest
    working_directory: ~/project/
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - nstrumenta-node_modules-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          command: npm i
      - run:
          command: npm run build
      - run:
          command: npm pack
      - run:
          name: Build and pack server
          command: |
            cd server/app
            npm install
            npm run build
            npm pack
            mv nst-server-*.tgz ../..
      - persist_to_workspace:
          root: .
          paths:
            - dist
            - node_modules
            - integration-tests
            - package.json
            - package-lock.json
            - tsconfig.json
            - src
            - nstrumenta-*.tgz
            - nst-server-*.tgz
  build-frontend:
    docker:
      - image: nstrumenta/base:latest
    resource_class: large
    working_directory: ~/project/frontend
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - frontend-node_modules-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          command: ./use_cache_or_npm_install.sh
      - run: echo "export FIREBASE_PROJECT_ID=`echo ${GCLOUD_SERVICE_KEY} | jq -r .project_id`" >> $BASH_ENV
      - run: node fetchFirebaseConfigJson.js && npm run build
      - run: ./build.sh
      - save_cache:
          key: frontend-node_modules-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - node_modules
      - save_cache:
          key: frontend-dist-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - dist
  build-functions:
    docker:
      - image: nstrumenta/base:latest
    working_directory: ~/project/functions
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - functions-node_modules-{{ .Branch }}-{{ checksum "package.json"}}
      - run:
          command: ./use_cache_or_npm_install.sh
      - run:
          command: ./build.sh
      - save_cache:
          key: functions-node_modules-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - '~/project/functions/node_modules'
      - save_cache:
          key: functions-dist-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - '~/project/functions/dist'
  test-server:
    docker:
      - image: nstrumenta/base:latest
    working_directory: ~/project/server/app
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - server-node_modules-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          key: server-node_modules-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Run Tests
          command: npm test
  test-nodejs:
    docker:
      - image: nstrumenta/base:latest
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - nstrumenta-node_modules-{{ .Branch }}-{{ checksum "package.json" }}
      - run: npm install
      - run: npm test
  test-vscode-extension:
    docker:
      - image: nstrumenta/base:latest
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - nstrumenta-node_modules-{{ .Branch }}-{{ checksum "package.json" }}
      - run: npm install
      - run: npm run build:vscode-extension
      - run: npm run test:vscode-extension
  run-tests:
    resource_class: large
    docker:
      - image: nstrumenta/developer:latest
    working_directory: ~/project/integration-tests/
    steps:
      - checkout:
          path: ~/project
      - attach_workspace:
          at: ~/project
      - setup_remote_docker
      - run: echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json
      - run: echo "export GOOGLE_PROJECT_ID=`cat ${HOME}/gcloud-service-key.json | jq -r .project_id`" >> $BASH_ENV
      - run: echo "export IMAGE_REPOSITORY=us-west1-docker.pkg.dev/${GOOGLE_PROJECT_ID}/server" >> $BASH_ENV
      - run: echo "export IMAGE_VERSION_TAG=${CIRCLE_SHA1}${CIRCLE_BRANCH}" >> $BASH_ENV
      - run: echo "export SERVER_IMAGE=${IMAGE_REPOSITORY}/server:${IMAGE_VERSION_TAG}" >> $BASH_ENV
      - run: echo "export TEST_SERVER=test-server-${CIRCLE_SHA1}" >> $BASH_ENV
      - run: gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json
      - run: gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
      - run:
          name: deploy test-server
          command: >
            gcloud run deploy ${TEST_SERVER}
            --image=${SERVER_IMAGE} 
            --port=5999 
            --allow-unauthenticated
            --region=us-west1
            --set-secrets=GCLOUD_SERVICE_KEY=GCLOUD_SERVICE_KEY:latest
            --set-env-vars "IMAGE_REPOSITORY=${IMAGE_REPOSITORY}"
            --set-env-vars "IMAGE_VERSION_TAG=${IMAGE_VERSION_TAG}"
      - run:
          name: get API_URL from test server
          command: >
            echo 'export API_URL=`gcloud run services describe --region=us-west1 ${TEST_SERVER} --format=json | jq -r .status.address.url`'
            >> $BASH_ENV
      - run:
          name: install dependencies for key generation
          command: npm install
      - run:
          name: create api key with test server url
          command: |
            export NSTRUMENTA_API_KEY=$(node create-api-key.js ci ${API_URL})
            if [ -z "$NSTRUMENTA_API_KEY" ]; then
              echo "Failed to generate API key"
              exit 1
            fi
            echo "export NSTRUMENTA_API_KEY=$NSTRUMENTA_API_KEY" >> "$BASH_ENV"
      - run:
          name: set CI environment for cache busting
          command: echo "export CI=true" >> $BASH_ENV
      - run:
          name: Authenticate Docker for artifact registry and pull data-job-runner image
          command: |
            gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://us-west1-docker.pkg.dev
            docker pull ${IMAGE_REPOSITORY}/data-job-runner:${IMAGE_VERSION_TAG}
      - run:
          name: Run CLI tests (Local Cloud Run Mode)
          command: |
            export NSTRUMENTA_CLOUD_RUN_MODE=local
            API_URL="" NSTRUMENTA_API_URL="" NSTRUMENTA_API_KEY="" ./e2e.sh cli
      - run:
          name: Run CLI tests (Remote Cloud Run Mode)
          command: ./e2e.sh cli
      - run:
          name: delete test-server
          command: >
            gcloud run services delete --region=us-west1 ${TEST_SERVER}
          when: always
  build-ci-images:
    resource_class: large
    machine:
      image: ubuntu-2204:2024.11.1
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - attach_workspace:
          at: ~/project
      - run: echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json
      - run: echo "export GOOGLE_PROJECT_ID=`cat ${HOME}/gcloud-service-key.json | jq -r .project_id`" >> $BASH_ENV
      - run: gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json
      - run: gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
      - run: gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://us-west1-docker.pkg.dev
      - run: echo "export IMAGE_REPOSITORY=us-west1-docker.pkg.dev/${GOOGLE_PROJECT_ID}/server" >> $BASH_ENV
      - run: echo "export IMAGE_VERSION_TAG=${CIRCLE_SHA1}${CIRCLE_BRANCH}" >> $BASH_ENV
      - run: ./build-ci-images.sh
  build-and-push-images:
    resource_class: arm.large
    machine:
      image: ubuntu-2204:2024.11.1
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - run: ./build-docker-images.sh

workflows:
  -ci:
    jobs:
      - build
      - test-server
      - test-nodejs
      - test-vscode-extension
      - build-frontend
      - build-functions
      - build-ci-images:
          requires:
            - build
      - run-tests:
          requires:
            - build-ci-images
            - build
      - build-and-push-images:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
