<div class='sign-in-methods-page'>

  <mat-card class="provider-card" [class.disabled]='!githubProviderInfo'>
    <mat-card-header class='provider-card-title'>
      <mat-card-title>
        <div>GitHub</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img width="50" [src]='githubProviderInfo?.photoURL' />
      <div>
        displayName: {{ githubProviderInfo?.displayName}}
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="provider-card" [class.disabled]='!emailProviderInfo'>
    <mat-card-header class='provider-card-title'>
      <mat-card-title>
        <div>Email</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      email: {{ emailProviderInfo?.email}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]='isAddingProvider'
        (click)="toggleLinkedProvider('password')">
        {{ emailProviderInfo ? 'Disable' : 'Enable' }}
      </button>
    </mat-card-actions>
  </mat-card>


</div>