.mat-column-name {
  flex: 1 0 400px;
}

.folder-row {
  background-color: rgba(0, 0, 0, 0.02);
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

button mat-icon {
  vertical-align: middle;
}

.active-crumb {
  background-color: rgba(63, 81, 181, 0.1) !important;
  color: #3f51b5;
  font-weight: 500;
}
