@if (actions) {
  <div class="mat-card">
    @for (action of actions() ; track action; let i = $index; let isFirst = $first) {
      <div style="display: flex">
        @if (isFirst && (action.status==='pending' || action.status==='started')) {
          <div class="spinner">
            <mat-spinner strokeWidth="3" [diameter]="22"></mat-spinner>
          </div>
        }
        @if (isFirst) {
          <div class="status-message">
            {{projectId}} | {{action.task}} | {{action.status}} | {{(action.completed | date : 'medium')}}
          </div>
        }
      </div>
    }
  </div>
}