services:
  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    ports:
      - 5000:5000
    working_dir: /app
    command: 'npm run serve:dist'
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - 5999:5999
    volumes:
      - ./credentials/:/credentials
    environment:
      - GCLOUD_SERVICE_KEY=${GCLOUD_SERVICE_KEY}
    command: 'npm run start'
  agent:
    build:
      context: ../
      dockerfile: ./cluster/agent/Dockerfile
    ports:
      - 8088:8088
    environment:
      - NSTRUMENTA_API_KEY=${NSTRUMENTA_API_KEY}
    command: 'npm run start:agent'
