<form>
  <mat-form-field style="min-width:300px">
    <input matInput placeholder="remote url" [(ngModel)]="forwardToWebsocketUrl" name="forwardToWebsocketUrl">
  </mat-form-field>
  <mat-form-field style="min-width:300px">
    <input matInput placeholder="channel" [(ngModel)]="forwardToWebsocketChannel" name="forwardToWebsocketChannel">
  </mat-form-field>
  <button mat-raised-button [matTooltip]="forwardButtonText" (click)="toggleForwardToWebsocket()">
    <mat-icon color="accent">cloud_upload</mat-icon> {{forwardButtonText}}
  </button>
</form>

<form style="margin-top: 8px;">
  <button mat-raised-button [matTooltip]="recordButtonText" (click)="toggleRecord()">
    <mat-icon color="accent">fiber_manual_record</mat-icon> {{recordButtonText}}
  </button>
</form>

<form (submit)="addRecordSource(inputName)">
  <mat-form-field>
    <input matInput placeholder="new input" [(ngModel)]="inputName" name="inputName">
  </mat-form-field>
</form>



<div style="flex-direction:row">
  <ng-container *ngIf="selection.hasValue()">
    {{selection.selected.length}} inputs selected:
    <button mat-icon-button matTooltip="Delete Selected" (click)="deleteSelected()">
      <mat-icon color="accent">delete</mat-icon>
    </button>
  </ng-container>
</div>


<mat-table #table [dataSource]="dataSource" matSort class="animate">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let recordSource">
      <mat-form-field>
        <input matInput (change)="updateRecordSource(recordSource)" type="text" [(ngModel)]="recordSource.name" />
      </mat-form-field>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
    <mat-cell *matCellDef="let recordSource">
      <mat-form-field>
        <input matInput (change)="updateRecordSource(recordSource)" type="text" [(ngModel)]="recordSource.type" />
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="notifications">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Event Subscriptions </mat-header-cell>
    <mat-cell style="flex-direction: column;" *matCellDef="let recordSource">
      <div *ngFor="let notification of recordSource.notifications; index as i">

        <div style="display: flex;flex-direction: row;">
          <div style="display: flex;flex-direction: column;">
            <div>
              <mat-form-field style="width: 300px;">
                <input placeholder="Service" matInput (change)="updateRecordSource(recordSource)" type="text"
                  [(ngModel)]="notification.service" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width: 300px;">
                <input placeholder="Characteristic" matInput (change)="updateRecordSource(recordSource)" type="text"
                  [(ngModel)]="notification.characteristic" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width: 300px;">
                <input placeholder="Parsing Function" matInput (change)="updateRecordSource(recordSource)" type="text"
                  [(ngModel)]="notification.parser" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <button mat-button *ngIf="!recordSource.notifications"
        (click)="recordSource.notifications = [{'service':'','characteristic':'','parser':''}]; updateRecordSource(recordSource)">
        add subscription
      </button>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="lastModified">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Modified </mat-header-cell>
    <mat-cell *matCellDef="let recordSource"> {{ recordSource.lastModified | date : 'medium'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="downloadURL">
    <mat-header-cell *matHeaderCellDef> Download </mat-header-cell>
    <mat-cell *matCellDef="let recordSource" style="align-content:center">
      <a mat-button href={{recordSource.downloadURL}} download={{recordSource.name}}>
        <mat-icon fontSet="fa" fontIcon="fa-download"></mat-icon>
      </a>
    </mat-cell>
  </ng-container>


  <mat-header-row
    *matHeaderRowDef="(isHandset$ | async) ? ['select', 'name'] : ['select','name','type','notifications']">
  </mat-header-row>
  <mat-row
    *matRowDef="let row; columns: (isHandset$ | async) ? ['select', 'name'] : ['select','name','type','notifications'];"
    class="animate"></mat-row>
</mat-table>

<mat-list>
  <ng-container *ngFor="let stat of eventStats | keyvalue">
    <mat-list-item>
      sensor id {{stat.key}}: {{stat.value.timestamp - stat.value.previousTimestamp}}ms
    </mat-list-item>
    <mat-list dense>
      <mat-list-item *ngFor="let value of stat.value.values">
        {{value}}
      </mat-list-item>
    </mat-list>
  </ng-container>
</mat-list>