version: '3'
services:
  browser-client:
    container_name: browser-client
    build:
      context: ../../..
      dockerfile: ./cluster/integration-tests/browser-client/client/Dockerfile
    environment:
      - TEST_ID=${TEST_ID}
      - NSTRUMENTA_API_KEY=${NSTRUMENTA_API_KEY}
      - NSTRUMENTA_API_URL=${NSTRUMENTA_API_URL}
      - NSTRUMENTA_WS_URL=ws://agent:8088
      - WAIT_ON_URL=http://agent:8088
  agent:
    container_name: agent
    build:
      context: ../../..
      dockerfile: ./cluster/agent/Dockerfile
    environment:
      - TEST_ID=${TEST_ID}
      - NSTRUMENTA_API_KEY=${NSTRUMENTA_API_KEY}
      - NSTRUMENTA_API_URL=${NSTRUMENTA_API_URL}
