<app-toolbar></app-toolbar>
<div class="home-page-container">
  @if (currentUser()) {
    <app-project-list></app-project-list>
  } @else {
    <div class="center-container landing-background">
      <svg class="landing-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 878" preserveAspectRatio="xMidYMid slice" aria-hidden="true">
        <path d="M0 877.207V0h1295v300.636L0 877.207z" fill="var(--nst-landing-rect)"/>
        <path d="M 182.533 0 L 1440 0 L 1440 586.343 C 1350.757 838.511 125.678 160.65 182.533 0 Z" fill="var(--nst-landing-accent)"/>
      </svg>
      <div class="logo-container">
        <img class="logo-img" src="assets/images/nstrumenta-logo.svg" alt="Nstrumenta logo" />
        <div class="logo-name mat-display-small">nstrumenta</div>
      </div>
      <div class="tag-line mat-headline-small">Sensor Solution Platform</div>
    </div>
  }
</div>
