<app-toolbar></app-toolbar>
<div class="home-page-container">
  @if (currentUser()) {
    <app-project-list></app-project-list>
  } @else {
    <div class="center-container">
      <div class="logo-container">
        <img class="logo-img" src="assets/images/nstrumenta-logo.svg" alt="Nstrumenta logo" />
        <div class="logo-name mat-display-small">nstrumenta</div>
      </div>
      <div class="tag-line mat-headline-small">Sensor Solution Platform</div>

      <div class="marketing-copy">
        <p class="mat-body-large">Accelerate your sensor data workflow with nstrumenta.</p>
        <div class="features">
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>Connect</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Seamlessly stream data from any sensor to the cloud.</p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>Process</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Run powerful algorithms on the edge or in the cloud.</p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>Visualize</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Gain real-time insights with customizable dashboards.</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  }
</div>
