datasets[audio,video]==3.0.1
foxglove_data_platform==0.14.2
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==7.7.1
keras==3.6.0
keras-self-attention==0.51.0
keras-tuner==1.4.7
mcap==1.2.1
matplotlib==3.9.2
plotly==4.4.0
pyts==0.13.0
sktime==0.34.0
tensorflow==2.18.0
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
transformers[torch]==4.46.2
tslearn==0.6.2
umap-learn==0.5.4
evaluate==0.4.3
tf-keras==2.18.0
nstrumenta==0.1.3