.home-page-container {

  background: url('/assets/images/nstrumenta-background-top.svg');
  background-size: cover;
}

.center-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-img {
  flex: 0;
  height: 30vw
}

.logo-name {
  flex: 1 0 500px;
  font-weight: bold;
  color: #ca8000;
  font-size: 8vw;
}

.tag-line {
  text-align: center;
  font-size: 5vw;
}
