<div class='upload-progress-container'>
  <mat-card appearance="outlined" class='mat-elevation-z16'>
    <mat-card-header>
      <mat-card-title>Upload Progress</mat-card-title>
    </mat-card-header>
    <mat-card-content class='upload-progress-body'>
      @for (file of uploads | keyvalue; track file.key) {
        <mat-list class='upload-progress-item'>
          <mat-list-item>
            <mat-label class='upload-progress-label'>{{file.value.name}}</mat-label>
            <mat-label>{{file.value.progress | async | number : '0.0-0'}}%</mat-label>
          </mat-list-item>
          <mat-list-item>
            <mat-progress-bar [value]='file.value.progress | async'></mat-progress-bar>
          </mat-list-item>
        </mat-list>
      }
    </mat-card-content>
  </mat-card>
</div>