<div *ngIf="(authService.user | async) ; else loggedOut ">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item [routerLink]="['/account']">Settings</button>
    <button mat-menu-item (click)="logout()">Sign out</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <img *ngIf="avatarURL" class="png-icon" style="width: 24px; height: 24px;" [src]="avatarURL" />
    <mat-icon *ngIf="avatarURL == null">account_circle</mat-icon>
  </button>
</div>
<ng-template #loggedOut>
  <button mat-button [routerLink]="['/login']"> Sign in</button>
</ng-template>