@if (loggedIn ) {
  <div>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item [routerLink]="['/account']">Settings</button>
      <button mat-menu-item (click)="logout()">Sign out</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      @if (auth.currentUser?.photoURL) {
        <img class="png-icon" style="width: 24px; height: 24px;"
          [src]="auth.currentUser?.photoURL" alt="User profile photo" />
      }
      @if (!auth.currentUser?.photoURL) {
        <mat-icon>account_circle</mat-icon>
      }
    </button>
  </div>
} @else {
  <button mat-button (click)="login()"> Sign in</button>
}
