<mat-toolbar class="app-header">
  @if (router.url !== '/') {
    <button type="button" aria-label="Toggle sidenav" mat-icon-button
      (click)="drawerToggleClick.emit()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  }
  @if (router.url === '/') {
    <app-navbar-title></app-navbar-title>
  }
  @if (authService?.user | async ) {
    <app-navbar-project-select></app-navbar-project-select>
    <span class="fill-remaining-space"></span>
    @if ((isHandset$ | async) === false) {
      @if (router.url !== '/') {
        <app-navbar-status></app-navbar-status>
      }
      <span class="fill-remaining-space"></span>
    }
    @if (router.url === '/') {
      <div><button mat-button [routerLink]="['/projects']">Go to Projects</button></div>
    }
    @if (router.url !== '/') {
      <app-navbar-vscode></app-navbar-vscode>
    }
  } @else {
    <span class="fill-remaining-space"></span>
    <!-- <div *ngIf="router.url === '/'" mat-menu-item [routerLink]="['/']">Use Cases</div>
    <div *ngIf="router.url === '/'" mat-menu-item [routerLink]="['/subscribe']">Subscribe</div> -->
  }
  <div style="border-left: 2px solid lightgrey;height: 30px"></div>
  <app-navbar-account></app-navbar-account>
  @if (isDataRouteOrUploading()) {
    <button mat-fab id="fab" (click)="uploader.click()" title="add data">
      <mat-icon>add</mat-icon>
    </button>
    <input hidden type="file" multiple #uploader (change)="chooseFiles($event)" />
    @if (uploads && uploads.size > 0) {
      <app-upload-progress [uploads]="uploads"></app-upload-progress>
    }
  }
</mat-toolbar>

