mat-toolbar {
  height: 42px;
  box-shadow:
      0 3px 1px -2px rgba(0,0,0,.2),
      0 2px 2px 0 rgba(0,0,0,.14),
      0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-box-shadow:
      0 3px 1px -2px rgba(0,0,0,.2),
      0 2px 2px 0 rgba(0,0,0,.14),
      0 1px 5px 0 rgba(0,0,0,.12);
  -moz-box-shadow:
      0 3px 1px -2px rgba(0,0,0,.2),
      0 2px 2px 0 rgba(0,0,0,.14),
      0 1px 5px 0 rgba(0,0,0,.12);
  z-index: 2;
  position: sticky;
  top: 0px;
}

.mat-menu-item{
  margin: 10px;
  outline: none;
  border: 0;
}

app-navbar-status{
  flex: 1 0 400px;
}

.fill-remaining-space{
  flex: 1 1 auto;
}