<mat-toolbar class="app-header">
  @if (drawerToggleClick.observed) {
    <button type="button" aria-label="Toggle sidenav" mat-icon-button
      (click)="drawerToggleClick.emit()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  } @else {
    <app-navbar-title></app-navbar-title>
  }
  @if (authService?.currentUser()) {
    <app-navbar-project-select [projectContext]="projectContext()"></app-navbar-project-select>
    <span class="fill-remaining-space"></span>
    @if (isHandset() === false) {
      @if (projectContext()) {
        <app-navbar-status></app-navbar-status>
      }
      <span class="fill-remaining-space"></span>
    }
    @if (projectContext()) {
      <app-navbar-vscode></app-navbar-vscode>
    }
  } @else {
    <span class="fill-remaining-space"></span>
  }
  <button mat-icon-button (click)="themeService.toggleTheme()"
    [attr.aria-label]="themeService.isDark() ? 'Switch to light mode' : 'Switch to dark mode'">
    <mat-icon>{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
  <mat-divider vertical></mat-divider>
  <app-navbar-account></app-navbar-account>
  @if (isDataRouteOrUploading()) {
    <button mat-fab id="fab" (click)="uploader.click()" title="add data">
      <mat-icon>add</mat-icon>
    </button>
    <input hidden type="file" multiple #uploader (change)="chooseFiles($event)" />
    @if (uploadService.hasActiveUploads()) {
      <app-upload-progress></app-upload-progress>
    }
  }
</mat-toolbar>
